{% extends 'base.html' %} {% block content %}
<h1 class="text-center">Acerca de nosotros</h1>
<p>
  Somos una empresa de venta de accesorios, principalmente rascadores para
  gatos. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
  consectetur officiis iusto esse ad enim, eaque veritatis. Magni, quos ab
  corrupti, aperiam impedit sapiente unde quibusdam totam non ipsam aut?Lorem
  ipsum dolor, sit amet consectetur adipisicing elit. Consequatur perferendis
  optio, reiciendis odio vero incidunt! Expedita tempore sunt dolorum neque amet
  <p>quibusdam animi aliquam magnam repudiandae, adipisci rerum, reiciendis
  recusandae. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et sint
  eos tenetur eaque officia assumenda cumque a! Dolores quasi, a nemo ex eius
  amet doloribus, consequatur, eveniet excepturi repudiandae impedit.</p> Lorem,
  ipsum dolor sit amet consectetur adipisicing elit. Iste ullam, dolore
  doloribus veritatis officiis minus sapiente quisquam impedit est cupiditate
  eos vitae, nihil consequuntur odit sit, enim recusandae deserunt eligendi?</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quae sunt repellat rerum dignissimos. Ratione voluptatem fugit reiciendis, totam alias aspernatur ea provident non necessitatibus magnam unde neque exercitationem cumque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum commodi magnam, nemo quis, asperiores voluptate voluptates praesentium officiis, exercitationem maiores illo similique facilis ipsum aliquam! Optio cumque alias earum ipsam?
</p>
{% endblock %}
