{% extends 'base.html' %} {% block content %}
<h1 class="text-center">Bienvenidos</h1>
<p>los invitamos a conocer nuestro emprendimiento y nuestros productos</p>
{% if rascadores %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for rascador in rascadores %}
  <div class="col">
    <div class="card">
      <img
        src="{{ rascador.image_url_rascador }}"
        class="card-img-top"
        alt="Imagen del rascador"
      />
      <div class="card-body">
        <h5 class="card-title">{{ rascador.name_rascador }}</h5>
        <p class="card-text">{{ rascador.descripcion_rascador }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<li class="list-group-item">
  Lo sentimos, por el momento no hay rascadores disponibles
</li>
{% endif %} {% endblock %}
